/* #backbutton {

    width: 50%;

} */


#hdtpa{
    border: 0.5px solid rgba(157, 168, 176, 0.4);
    
    background-color: #f8f9fa;
    padding: 1%;
    width:100%;  
    text-align:center;
}

#hdbtb{
    /* border: 0.5px solid rgba(157, 168, 176, 0.4); */
    
    background-color: #f8f9fa;
    padding: .5%;
    width:100%;
    /* float: left! */
    text-align: center;
}



#backbuttonst {

    font-size: 40px;
    color: rgb(143, 96, 40);
    padding-left: 10%;

}

#logout {
    font-size: 20px;
    color: rgb(143, 96, 40);
    padding-left: 10%;
    align-items: center;


}


  #ff {
    overflow: hidden;
  background-color: rgb(124, 124, 124);
  position: fixed;
  top: 0;
  width: 100%;
    z-index: 1030;
    height: 100px;
}

#cr_logo {

    display: block;
    width: 90px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    align-items: center;
    

}


.h4 {

text-align: center;
text-shadow: 2px 1px;
}


.fc th {
    padding: 10px !important;
    background: #D5BD94 ;
    line-height: 1;
    font-weight: 600;
}


.button {
    border-radius: 5px;
    background-color: #aed3ff;
    color: #377dcc;
    width: 20%;
    border: 1px solid;
}







