// html{
    
//     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
// }

// body {
//     font-family:    Arial,sans-serif; 

//     // font-weight: 600; line-height: 1.5;

// }


// font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


#subm{
    
    font-family:  Arial,sans-serif; 
}

.sidebar-wrapper .menu .sidebar-link {
   
    font-size: .8rem;
    font-weight: 500;
    line-height: 2.5;
    
   
}

 #subm {
   
    font-size: .8rem;
    font-weight: 200;
   
}

.sidebar-item{
    margin: 0px;
}

.fc-state-down, .fc-state-active {
    background-color: #f8f9fa;
    background-image: none;
    box-shadow: inset 0 2px 4px rgb(255 0 0 / 15%), 0 1px 2px rgb(173 3 3 / 5%);
}

.table-bordered td, .table-bordered th {
    border: 1px solid #cfd9df;
}


.fc-state-default {
    border: 1px solid;
    background-color: #f8f9fa;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e1e6eb);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgb(217 0 0 / 10%) rgba(0,0,0,.1) rgba(0,0,0,.25);
    color: #333;
    text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
}

.fc th {
    padding: 10px !important;
    background: #e8ebee;
    line-height: 1;
    font-weight: 600;
}

.fc-unthemed td.fc-today {
    background: #e8ebee;
}


thead, tbody, tfoot, tr, td, th {
    border-color:#e8ebee;
    border-style: solid;
    border-width: 2px;
}

.btn-outline-primary{
  
    background: #ffffff;
     color: #1D1D50;
     background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(157, 168, 176, 0.4);
    box-sizing: border-box;
    border-radius: 4.58px;
}

.btn-outline-primary:hover {
    color: rgb(255, 255, 255);
  background-color : #4A4A78;
    
}

.btn-outline-primary:focus {
    color: rgb(255, 255, 255);
  background-color : #4A4A78;
    
}

.btn-outline-primary:active {
    color: rgb(255, 255, 255);
  background-color : #4A4A78;
    
}



.btn-outline-primary:hover::after, .btn-outline-primary:focus::after {
    color: rgb(255, 255, 255);
  background-color : #4A4A78;
    
}
    
    

// body {
//     margin: 0;
//     font-family: "Nunito";
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1;
//     color: #172838;
//     background-color: #e8ebee;
//     -webkit-text-size-adjust: 100%;
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

// .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
//     border-color: #e8ebee;
//     border: 1px solid;

// }

.modal .modal-content {
    padding: 20px;
    background: linear-gradient(to top, #cacaca 0%,  #d8dada 30%, #e8f5f5 40%,rgb(255, 255, 255)78%);
    mix-blend-mode: color-dodge;
    // background: rgba(132, 209, 241, 0.6);
    box-shadow: 2.75px 2.75px 4.58333px rgb(39 59 74 / 20%);
    backdrop-filter: blur(116px);
    border-radius: 9px;
    opacity: .9;
    
}

.modal .modal-full {
    max-width: 94%;
    
}

.modal .white {
    color:  white;
    
    
}

.modal .modal-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.modal .modal-header h2 {
    text-align: center;
   width: 100%;

}
.modal .modal-header h2 b {
    text-align: center;
    color: #1D1D50;
   

}

.modal .modal-header .modal-title {
    font-size: 1.1rem;
}

.modal .modal-header .close {
    padding: 7px 10px;
    border-radius: 50%;
    background: none;
    border: none;
}

/* .modal .modal-header .close:hover {
background: #dee2e6;
} */
