<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Personal Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
     <h1>Personal Details</h1>
    </div>
    <div class="container">
    <form>  
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname">
            </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname">
            </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email">
            </div>
      
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone">
            </div>

        <div class="mb-3">
            <label for="qualification" class="form-label">Qualification</label>
            <input type="text" class="form-control" id="qualification">
            </div>

        <div class="mb-3">
            <label for="work experience" class="form-label">Work Experience</label>
            <input type="text" class="form-control" id="work experience">
            </div>
      
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload CV</label>
            <input class="form-control" type="file" id="formFile">
            <div class="form-text">Select CV file (TXT, PDF or  Word DOC)</div>
            </div>

        </form>
           
        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
            <span class="p-3"></span>
            <button type="button" class="btn btn-secondary" style="width: 100px;">Cancel</button>
        </div>
      
    

    
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>