<html>

<head>
  <title>Demo</title>
</head>

<body>

	<style>
		body, a {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; text-decoration:none;
}


a.panel-group_btn {color: #888;display:block;}

a.like-btn {
    color: #888;
    font-size: 14px;
}


span.clicked {
  color: #00dfae; 
  font-weight:bold;
}
	</style>
	
	<h1>Like button</h1>

	<p>Uses the span's id to name the Local Storage key. Check Local Storage in your inspector to see the saved keys.</p>
	
	<a  class="panel-group_btn" href="#" >
		<span id="like-01" class="like-btn">
		Like
		</span>
	</a>
	
	<a  class="panel-group_btn" href="#" >
		<span id="like-02" class="like-btn">
		Like
		</span>
	</a>
	
	<a  class="panel-group_btn" href="#">
		<span id="like-03" class="like-btn">
		Like
		</span>
	</a>
	
	
	
</body>

</html>